@import url("../../../index.css");

.containerSidebar{
    background-color: var(--sidebar-bg-color);
    min-width: 100%;
    min-height: 100vh;
    padding: 20px;
}

li{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    &:hover{
        background-color: var(--li-hover-color);
        transition: 0.8s ease;
    }
}


@media (max-width: 1000px) {
    li{
        display: flex;
        gap: 10px;
        font-size: 13px;
        justify-content: center;
    }

    .containerSidebar{
        width: 80%;
    }
  }