.containerX {
  width: 100%;
  min-height: 200px;
  max-height: 670px;
  display: flex;
  padding: 4px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 29px;
  overflow-x: auto;
}

.containerY {
  width: 100%;
  min-height: 200px;
  max-height: 670px;
  display: flex;
  padding: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 29px;
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #2c53c0;
  border-radius: 5px;
}
