.container{
    border-radius: 12px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #17243E;
    cursor: pointer;
}



