.container{
    width: 23%;
    height: 330px;
    border-radius: 20px;
    border: 1px solid #E0E4EA;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 10px 5px 10px;
}

.containerDetails{
    width: 50%;
    height: 300px;
    border: 1px solid #E0E4EA;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
    gap: 15px;
    padding: 5px 10px 5px 10px;
}